@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    :root {
        --background: 0 0% 95%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 24.6 95% 53.1%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 24.6 95% 53.1%;
        --radius: 0.5rem;
    }

    .dark {
        --gradient: #fe6c00;

        --background: 27 65% 4%;
        --foreground: 27 10% 97.5%;

        --muted: 27 41% 13%;
        --muted-foreground: 27 10% 55%;

        --popover: 27 44% 7.5%;
        --popover-foreground: 27 10% 97.5%;

        --card: 27 44% 7.5%;
        --card-foreground: 27 10% 97.5%;

        --border: 27 41% 13%;
        --input: 27 41% 13%;

        --primary: 27 100% 50%;
        --primary-foreground: 27 10% 5%;

        --secondary: 27 41% 13%;
        --secondary-foreground: 27 10% 97.5%;

        --accent: 27 41% 13%;
        --accent-foreground: 27 10% 97.5%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 27 10% 97.5%;

        --ring: 27 100% 50%;
    }
}

html,
body {
    @apply h-full;
}

::-webkit-scrollbar {
    width: 6px;
    height: 9px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 0px solid transparent;
    box-shadow:
        inset 0 0 2,
        5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 45px;
    background: linear-gradient(360deg, hsl(var(--primary)), hsl(var(--primary) / 0.5));
    border-radius: 45px;
}

.loader {
    border: 4px solid hsl(var(--accent));
    border-top: 4px solid hsl(var(--primary));
    border-radius: 50%;
    width: 120px;
    height: 120px;
    @apply animate-spin;
}

.hero-image::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -1;
}
